@import 'styles/palette';
@import 'styles/helpers';
@import 'styles/media-queries';
@import 'styles/typography';

.header {
  height: 345px;
  width: 100%;
  background: linear-gradient(#6cbfab, #366056);
  display: flex;
  flex-direction: row;

  &__cover-content {
    height: 100%;
    width: rem(275px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .cover {
      width: 230px;
      height: 230px;
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      margin-bottom: rem(27px);
    }
  }

  &__info {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    &__category {
      @include Gotham;
      color: white;
      font-size: rem(11px);
    }

    &__title {
      @include Gotham;
      color: white;
      font-size: rem(87px);
      letter-spacing: -8px;
      height: rem(120px);
    }

    &__artists {
      @include Gotham;
      color: $secondaryHeaderColor;
      font-size: rem(11px);
      margin-bottom: rem(7px);
    }

    &__duration {
      @include Gotham;
      color: $secondaryHeaderColor;
      font-size: rem(12px);
      margin-bottom: rem(27px);
    }
  }
}
