@import '../../../styles/palette';
@import '../../../styles/helpers';

.zh-rich-text-wrapper {
  border: 1px solid $unactive;
  border-radius: 4px;

  .zh-rich-text-toobar {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $unactive;
    margin-bottom: 0;

    .rdw-option-wrapper {
      border: none;
      box-shadow: none !important;

      &[title='Superscript'] {
        position: relative;
        top: -3px;
      }
    }

    .rdw-dropdown-wrapper {
      border: 1px solid $unactive;
      border-radius: 4px;
    }
  }

  .zh-rich-text {
    padding: rem(15px);
    background: #fff;
  }
}
