@import '../../../styles/helpers';
@import '../../../styles/typography';
@import '../../../styles/media-queries';

.zh-edit-account {
  border: 1px solid #e9e8e5;
  display: flex;

  @include mq($until: desktop) {
    flex-wrap: wrap-reverse;
  }

  .zh-edit-account-left,
  .zh-edit-account-right {
    width: 100%;
    padding: rem(37.5px);
  }

  .zh-edit-account-left {
    border-right: 1px solid #e9e8e5;

    @include mq($until: desktop) {
      border-right: unset;
    }

    h2 {
      margin-bottom: rem(20px);
      @include fontSemiBold;
      color: #414141;
      font-size: rem(14px);

      &:not(:first-child) {
        border-top: 1px solid #e9e8e5;
        padding-top: rem(20px);
      }
    }
  }

  .zh-edit-account-right {
    background-color: #f9f9f9;

    @include mq($until: desktop) {
      border-bottom: 1px solid #e9e8e5;
    }
  }
}

// may be separated in an organism
.zh-upload {
  display: flex;
  position: relative;

  .zh-upload-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .zh-upload-info {
    padding-left: rem(15px);

    .zh-upload-title {
      @include fontSemiBold;
      color: #000403;
      font-size: rem(15px);
      margin-bottom: rem(12.5px);
    }

    .zh-upload-desc {
      font-size: rem(13px);
      margin-bottom: rem(12.5px);
      max-width: rem(455px);
    }
  }
}
