@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500&display=swap');

// Typography
@mixin publicFontLight {
  font-family: 'Spectral', serif !important;
  font-weight: 300;
}

@mixin publicFontRegular {
  font-family: 'Spectral', serif !important;
  font-weight: 400;
}

@mixin publicFontMedium {
  font-family: 'Spectral', serif !important;
  font-weight: 500;
}
