$sidebarBackground: #040404;
$playlistBackground: #121212;
$playlistHeader: #2c4d45;
$playerBackground: #282828;
$primaryColor: #58b560;
$secondaryColor: #b3b3b3;
$secondaryHeaderColor: #c6d5d1;
$secondaryInactiveColor: #535353;
$playlistCover: #6cbfab;
$itemBackground: #6a6a6a4d;
$musicItemHover: #6a6a6a4d;
$musicItemFocus: #ffffff4d;
$unactive: #dfddd6;
