// background
$sidebarBackground: #040404;
$playlistBackground: #121212;
$playlistHeader: #2c4d45;
$playerBackground: #282828;
$primaryColor: #58b560;
$secondaryColor: #b3b3b3;
$secondaryHeaderColor: #c6d5d1;
$secondaryInactiveColor: #535353;
$playlistCover: #6cbfab;
$musicItem: #2a2a2a;
