@import 'styles/helpers';
@import 'styles/palette';
@import 'styles/helpers';

@import 'styles/typography';

.tracker {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: row;
  margin: 0 rem(10px) 0 rem(10px);
  @include Gotham;

  .timer {
    width: rem(35px);
  }

  &__render {
    display: flex;
    width: 100%;
    margin-left: rem(7px);
    margin-right: rem(7px);

    &__bg {
      height: rem(3.7px);
      width: 100%;
      border-radius: 10px;
      align-self: center;
    }
  }

  &__thumb {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(170, 170, 170, 0.466);
    outline: none;

    &__dragg {
      height: 16px;
      width: 5px;

      .blueBG {
        background-color: #548bf4;
      }

      .greyBG {
        background-color: #ccc;
      }
    }
  }
}
