@import 'styles/palette';
@import 'styles/helpers';

.loginBlock {
  display: flex;
  flex-direction: column;
  padding: rem(20px);

  & > div.zh-input-wrapper,
  & .zh-button-wrapper {
    padding: rem(0 10px);
    display: flex;
    align-items: center;
    height: rem(60px);
    width: 100%;
  }

  & h3 {
    font-size: rem(26px);
    margin: 0 auto !important;
    padding-bottom: rem(40px);
    font-weight: 500;
  }

  & > *:not(:last-child) {
    margin-bottom: rem(20px);
  }
}

.loginOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
