@import '../../../styles/helpers';
@import '../../../styles/typography';

.zh-status {
  display: inline-block;
  border-radius: 4px;
  padding: rem(2.5px 5px);
  font-size: rem(11px);
  @include fontMedium;
  color: #fff;

  &.zh-status-type {
    &-active {
      background: #469c9b;
    }

    &-regular {
      background: #fc9570;
    }

    &-uanctive {
      background: #767676;
    }
  }
}
