@import 'styles/helpers';
@import 'styles/typography';
@import 'styles/media-queries';

@keyframes moveRightOut {
  0% {
    transform-origin: 0 0;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateX(0);
    opacity: 1;
  }
}

.zh-form {
  .zh-form-items {
    display: flex;
    justify-content: space-between;

    @include mq($until: small-desktop) {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: rem(20px);
    }

    .zh-form-item {
      margin-bottom: 0;
      width: calc(50% - 15px);

      @include mq($until: small-desktop) {
        width: 100%;
      }
    }
  }

  .zh-form-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: rem(20px);
    }

    .zh-form-item-label {
      display: flex;
      @include fontMedium;
      color: #000403;
      font-size: rem(12px);
      margin-bottom: rem(7.5px);
      text-align: left;
    }

    .zh-form-children.zh-form-children-flex {
      display: flex;

      @include mq($until: 540px) {
        flex-wrap: wrap;
      }

      > * {
        width: 100%;

        &:not(:first-child) {
          @include mq($from: 540px) {
            margin-left: rem(25px);
          }
        }
      }
    }

    .zh-form-extra {
      @include fontMedium;
      color: #000403;
      font-size: rem(10px);
      margin-top: rem(5px);
      text-align: right;

      animation: moveRightOut 0.5s forwards;

      &.zh-form-extra {
        &-error {
          color: #ff4000;
        }

        &-warning {
          color: #ffff00;
        }

        &-regular {
          color: #ccc;
        }

        &-success {
          color: #00ad2e;
        }
      }
    }
  }
}
